@import "tailwindcss";

@theme {
  /* Configuração de Fonte */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Configuração de Cores (Loja Drip) */
  --color-primary: #c71585;
  --color-dark-gray-2: #a9a9a9;

  /* No v4, você também pode definir bordas e raios se quiser */
  --radius-xl: 0.75rem;
}
